@page "/quips"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject HttpClient Http

<h1>Phrases</h1>

<p>All the current phrases!</p>

@if (sayings == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid Items="@sayings.AsQueryable()" Pagination="@pagination">
        <PropertyColumn Property="@(m => m.Mood)" Sortable="true" />
        <PropertyColumn Property="@(p => p.Phrase)" Sortable="true" />
        @if (isAdmin)
        {
        <TemplateColumn Title="Actions">
            <button>Edit</button>
            <button>Delete</button>
        </TemplateColumn>
        }
    </QuickGrid>

    <Paginator State="@pagination" />
}

@code {
    private IEnumerable<Sayings> sayings;
    PaginationState pagination = new PaginationState { ItemsPerPage = 20 };
    bool isAdmin { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        sayings = await Http.GetFromJsonAsync<IEnumerable<Sayings>>("https://bigheadfuncs.azurewebsites.net/api/getallphrases");
    }

    public class Sayings
    {
        public string Mood { get; set; }
        public string Phrase { get; set; }
    }
}
